<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<<<<<<< HEAD
        <title>E-commerce - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% include 'partials/stylesheets.html.twig' %}
    </head>
    <body class="animsition">
        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}
=======
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
>>>>>>> 6c84967711a08c4734e975c498cd81c26a2b2c67
        {% block javascripts %}{% endblock %}
    </body>
</html>
